<div id="store">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h3 class="text-left">Categories</h3>
                <br>
                <ul>
                    <li><a ng-click="getProducts()" href="javascript:void(0)">All</a></li>
                    <li ng-repeat="category in categories"><a ng-click="getByCatId(category.id)" href="javascript:void(0)">{{category.name}}</a></li>
                </ul>

                <div range-slider show-values min="0" max="20000" model-min="values.min" model-max="values.max" on-handle-up="up()" on-handle-down="down()" step="10"></div>
            </div>
            <div class="col-md-8">
                <h3 class="text-left">Product store</h3>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Add</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products" data-toggle="modal" data-target="#details-modal" ng-click="showDetails(product.id)">
                            <td>{{product.name}}</td>
                            <td>{{product.price * product.quantity}} dr</td>
                            <td ng-click="$event.stopPropagation()">
                                <select class="form-control" ng-model="product.quantity">
                                    <option ng-repeat="v in productCount" value="{{v}}">{{v}}</option>
                                </select>
                            </td>
                            <td><button class="btn btn-primary btn-sm" ng-click="$event.stopPropagation(); addToCard(product)">add</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center" ng-if="!products.length"><h4>No data</h4></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="details-modal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">product details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <h2>{{selectedProduct.name}}</h2>
                        <h3>{{selectedProduct.description}}</h3>
                        <p>price: {{selectedProduct.price}}</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:void(0)" class="thumbnail">
                            <img ng-src={{selectedProduct.url}} alt="product image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

